/*
 * gtcoders - Sitio web oficial
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * CSS Version 3
 *
 * @author   Edwin Xico <contact@xicoofficial.co>
 * @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
 * @version  GIT: 0.1.0-alpha
 * @link     http://wowprojects.co
 */

wow_green_olive = #4b7447
wow_white_bone = #F8F1E5 // white olive: #F8F1E5
wow_black_coal = #2F3131
wow_blue_steel = #426e86
wow_red_tomato = #cf3721


@font-face
	font-family HUELIC
	font-style normal
	src url(fonts/HUELIC/HUELIC_B.ttf)

@font-face
	font-family century-gothic
	font-style normal
	src url(fonts/century-gothic.ttf)

@font-face
	font-family museo_500
	font-style normal
	src url(fonts/museo_500/Museo500-Regular-webfont.ttf)

@font-face
	font-family caneletter_script
	font-style normal
	src url(fonts/caneletter_script/CaneletterScript_PersonalUse.otf)

wow_font01 = HUELIC, NeueHaasBold, Helvetica, sans-serif
wow_font02 = century-gothic,'Tungsten A', 'Tungsten B'
wow_font03 = museo_500, Helvetica, sans-serif
wow_font04 = caneletter_script

/**********************************
* Being WOW
***********************************/
.wow-beingWow
	padding 0
	#being-wow
		padding-top 66px
		padding-bottom 66px
		text-align center
		#slider-wrap
			margin 120px auto
			padding 0 50px
			position relative
			max-width 1080px
		#value-slider
			max-width 1000px
			margin 0 auto
			article
				display none
				margin 0 auto
				min-height 107px
				text-align center
				position relative
				width 100%
				.wrap
					border 0
					padding 0
					margin 0
					display inline-block
					position relative
					left auto
					margin 0 auto
				span
					font-family wow_font01
					font-style italic
					font-size 80px
					line-height 80px
					display inline-block
					color wow_black_coal
					position absolute
					left 0
					padding 10px 0 0
				div
					display block
					border-left 1px solid wow_blue_steel
					margin-left 125px
					position relative
					paddingn 0 0 0 45px
					text-align left
				h4
					font-family wow_font03
					font-style italic
					color wow_green_olive
					font-size 70px
					line-height 75px
					margin 0
					display block
				p
					font-size 18px
					line-height 32px
					color wow_black_coal
					font-weight 300
					margin 0
			article:first-child
				display block
		.slider-right
			right 0
			top 25px
			position absolute
			-webkit-transition opacity .2s ease-in-out
			transition opacity .2s ease-in-out
		.slider-left
			left 0
			top 25px
			position absolute
			-webkit-transition opacity .2s ease-in-out
			transition opacity .2s ease-in-out
		.slider-right:hover, .slider-left:hover
			opacity 0.5
			filter alpha (opacity=50)
		.pager
			font-family wow_font02
			font-weight 400
			font-style normal
			overflow visible
			span
				font-size 20px
				padding 9px 16px 9px 18px
				margin 0 5px
				line-height 20px
				font-weight 300
				text-align center
				a
					color wow_blue_steel
					text-decoration none
				a:hover
					color wow_red_tomato
					text-decoration none
			.cycle-pager-active
				border-radius 50%
				border 1px solid wow_red_tomato
				color wow_red_tomato
				a
					color wow_red_tomato

	#being-wow>p
		color  wow_blue_steel
		font-family wow_font01
		font-style italic
		font-size 30px
		line-height 48.6px



@media only screen and (max-width: 1215px)
	.wow-beingWow
		#being-wow
			.slider-left
				left 20px
				top 18px
			.slider-right
				right 20px
				top 18px

@media only screen and (max-width: 980px)
	.wow-beingWow
		#being-wow
			#value-slider
				article
					.wrap
						span
							font-size 60px
							line-height 60px
						div
							margin-left 106px
						h4
							font-size 40px
							line-height 45px
						p
							font-size 16px
							line-height 25.92px
			.slider-left
				left 20px
			.slider-right
				right 20px

@media only screen and (max-width: 767px)
	.wow-beingWow
		#being-wow
			padding 50px 0
			h2
				z-index 2
				position relative
			#slider-wrap
				margin 60px 0
			#value-slider
				article
					.wrap
						span
							font-size 60px
							line-height 60px
							position relative
							margin 0 auto
							display block
							text-align center
						div
							margin-left 0px
							padding 10px 0 0
							border-left 0
							text-align center
						h4
							font-size 30px
							line-height 35px
						p
							font-size 16px
							line-height 25.92px
			.slider-left
				top 50px
			.slider-right
				top 50px
		#being-wow>p
			padding 0 20px
			font-size 25px
			line-height 30px


@media only screen and (max-width: 600px)
	.wow-beingWow
		#being-wow
			#slider-wrap
				padding: 0 30px
			.pager
				span
					margin: 0
		.slider-left, .slider-right
			display none

@media only screen and (max-width: 500px)
	.wow-beingWow
		.inc.slider-left, .nav-arrow.left
			background-position -384px -448px
			width 23px
			height 55px
			display inline-block
		.inc.slider-right, .nav-arrow.right
			background-position -448px -448px
			width 23px
			height 55px
			display inline-block

.icn
	display block
	background-image url("../img/sprites.png")
	background-repeat no-repeat
	span
		display none

.icn.slider-left, .nav-arrow.left {
    background-position: -384px -448px;
    width: 23px;
    height: 55px;
    display: inline-block;
}
.icn.slider-right, .nav-arrow.right {
    background-position: -448px -448px;
    width: 23px;
    height: 55px;
    display: inline-block;
}

