/*
 * gtcoders - Sitio web oficial
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * CSS Version 3
 *
 * @author   Edwin Xico <contact@xicoofficial.co>
 * @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
 * @version  GIT: 0.1.0-alpha
 * @link     http://wowprojects.co
 */

wow_green_olive = #4b7447
wow_white_bone = #F8F1E5 // white olive: #F8F1E5
wow_black_coal = #2F3131
wow_blue_steel = #426e86
wow_red_tomato = #cf3721

wow_white_bone_75 = rgba(248,241,229, 0.75)
wow_white_bone_65 = rgba(248,241,229, 0.65)

wow_font01 = NeueHaasBold, Helvetica, sans-serif
wow_font02 = 'Tungsten A', 'Tungsten B'

wow_fontTitle = 32px
wow_fontSubTitle = 18px
wow_fontParagraph = 14px



/**********************************
* About Us Section
***********************************/
.wow-footer
	padding 0
	border-top 8px solid wow_black_coal
	border-bottom 8px solid wow_black_coal
	.upper-part
		padding 0
		background wow_black_coal
		.container
			padding-top 105px
			padding-bottom 135px
			position relative
	.copyrights
		text-align center
		padding-top 28px
		font-size wow_fontParagraph
		text-transform uppercase
		margin 0
		color wow_black_coal
	.widget
		border-top 0 !important
		h3
			color wow_blue_steel
			font-size wow_fontTitle
			line-height 1em !important
			display block
			margin 12px 0 30px 0
			text-transform uppercase
	.contact-group
		.widget-twitter
			li
				a
					color wow_blue_steel
					line-height 24px
					font-weight 700
				.date
					display block
					font-size wow_fontParagraph
					color wow_white_bone
			.body-wrapper
				.twitter
					li
						position relative
						padding 0 0 25px 50px
						margin-bottom 30px
						font-size wow_fontParagraph
						line-height 21px
						color wow_white_bone
						border-bottom 1px solid wow_blue_steel
						a
							color wow_blue_steel
							font-size wow_fontParagraph
							display inline-block
					li:before
						font-family FontAwesome
						content "\f099"
						position absolute
						top 0
						left 0
						color #599cc7
						font-size 20px
		.body-wrapper
			margin-top 40px
			.section
				position relative
				margin-bottom 25px
				padding 0 0 20px 105px
				border-bottom 1px solid wow_blue_steel
			.caption
				font-size wow_fontParagraph
				letter-spacing 0.4em
				color wow_blue_steel
				text-transform uppercase
				position absolute
				top 0
				left 0
			.section-body
				position relative
				i
					position absolute
					top 0
					left 0
					color wow_blue_steel
					font-size 21px
					margin-top -4px
				.details-wrapper
					padding-left 40px
					p, p a
						font-size wow_fontParagraph
						color wow_white_bone
						text-transform uppercase

@media only screen and (max-width: 991px)
	.wow-footer
		.widget
			margin-bottom 60px
		.widget:last-of-type
			margin 0


