/*
 * gtcoders - Sitio web oficial
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * CSS Version 3
 *
 * @author   Edwin Xico <contact@xicoofficial.co>
 * @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
 * @version  GIT: 0.1.0-alpha
 * @link     http://wowprojects.co
 */

wow_green_olive = #4b7447
wow_white_bone = #F8F1E5 // white olive: #F8F1E5
wow_black_coal = #2F3131
wow_blue_steel = #426e86
wow_red_tomato = #cf3721

wow_font01 = NeueHaasBold, Helvetica, sans-serif
wow_font02 = 'Tungsten A', 'Tungsten B'

/**********************************
* Being WOW
***********************************/
.wow-teamwow
	padding 0
	#teamwow
		padding-top 65px
		padding-bottom 65px
		text-align center
		p.title
			font-family wow_font02
			font-weight 400
			font-style normal
			font-weight 300
			font-size 30px
			line-height 30px
			color wow_red_tomato
			text-transform uppercase
			strong
				font-weight 500
		.team
			.member
				margin-bottom 95px
				padding-right 0
				.details
					padding-bottom 25px
					border-bottom: 1px solid wow_black_coal;
					height 120px
					.name
						font-size 21px
						font-weight 900
						font-style italic
						color wow_green_olive
						margin 21px 0
					.job
						font-size 14px
						font-weight 700
						letter-spacing 0.4em
						text-transform uppercase
						color wow_green_olive
						margin 0
				.social
					margin-top 25px
					a
						display inline-block
						margin-right 4px
						height 32px
						width 32px
						text-align center
						border-radius 2px
						background #dddedf
						color #b3b3b4
						padding-top 8px
						i
							font-size 16px
					a:hover
						color #fff
					a.linkedin:hover
						background #007bb6
					a.url:hover
						background #000
					a.facebook:hover
						background #3554a2
					a.twitter:hover
						background #5fc4fe
					a.instagram:hover
						background #517fa4
				.image
					img
						width 100%
	#teamwow>p
		color  wow_blue_steel
		font-family wow_font01
		font-style italic
		font-size 30px
		line-height 48.6px

@media only screen and (max-width: 1215px)
	.wow-teamwow
		#teamwow
			.slider-left
				left 20px
				top 18px
			.slider-right
				right 20px
				top 18px

@media only screen and (max-width: 980px)
	.wow-teamwow
		#teamwow
			#value-slider
				article
					.wrap
						span
							font-size 60px
							line-height 60px
						div
							margin-left 106px
						h4
							font-size 40px
							line-height 45px
						p
							font-size 16px
							line-height 25.92px
			.slider-left
				left 20px
			.slider-right
				right 20px

@media only screen and (max-width: 767px)
	.wow-teamwow
		#teamwow
			padding 50px 0
			.team
				.member
					padding-right 15px
		#being-wow>p
			padding 0 20px
			font-size 25px
			line-height 30px


@media only screen and (max-width: 600px)
	.wow-teamwow
		#teamwow
			#slider-wrap
				padding: 0 30px
			.pager
				span
					margin: 0
		.slider-left, .slider-right
			display none

@media only screen and (max-width: 500px)
	.wow-teamwow
		.inc.slider-left, .nav-arrow.left
			background-position -384px -448px
			width 23px
			height 55px
			display inline-block
		.inc.slider-right, .nav-arrow.right
			background-position -448px -448px
			width 23px
			height 55px
			display inline-block

.icn
	display block
	background-image url("../img/sprites.png")
	background-repeat no-repeat
	span
		display none

.icn.slider-left, .nav-arrow.left {
    background-position: -384px -448px;
    width: 23px;
    height: 55px;
    display: inline-block;
}
.icn.slider-right, .nav-arrow.right {
    background-position: -448px -448px;
    width: 23px;
    height: 55px;
    display: inline-block;
}


