/*
 * gtcoders - Sitio web oficial
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * CSS Version 3
 *
 * @author   Edwin Xico <contact@xicoofficial.co>
 * @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
 * @version  GIT: 0.1.0-alpha
 * @link     http://wowprojects.co
 */


/*
* General Styling
*/
html
	width 100%
	height 100%

body
	width 100%
	height 100%
	
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input
	margin 0
	padding 0

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input
	margin 0
	padding 0

