/*
 * gtcoders - Sitio web oficial
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * CSS Version 3
 *
 * @author   Edwin Xico <contact@xicoofficial.co>
 * @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
 * @version  GIT: 0.1.0-alpha
 * @link     http://wowprojects.co
 */

wow_green_olive = #4b7447
wow_white_bone = #F8F1E5 // white olive: #F8F1E5
wow_black_coal = #2F3131
wow_blue_steel = #426e86
wow_red_tomato = #cf3721

wow_font01 = NeueHaasBold, Helvetica, sans-serif
wow_font02 = 'Tungsten A', 'Tungsten B'

/**********************************
* Why we do it
***********************************/
.wow-whyWeDoIt
	h2
		font-size 2.2em
	h1
		font-size 4.9em
	.padded
		padding 3em
	.header-number .data-number
		pointer-events none
		font-family wow_font01
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		color wow_red_tomato
		letter-spacing -.025em
		font-size 20vw
		position absolute
		right 3vw
		bottom 10.5vh
	header
		background-size cover
		background-color center center
		overflow visible
		h1, h2
			color wow_green_olive
	.grid_row
		width 100%
		overflow visible

	.grid_row:after
		clear both
		display table
		content: ''
	.grid2
		float: left;
		width: 64%;
		width: -moz-calc(((100% / 3) * 2) - 25px);
		width: -o-calc(((100% / 3) * 2) - 25px);
		width: -webkit-calc(((100% / 3) * 2) - 25px);
		width: calc(((100% / 3) * 2) - 25px);
	.grid3
		clear both
		width 100%
	.grid1, grid2
		margin-right 50px
		overflow visible
	.header-text {
	    position: absolute;
	    top: 58%;
	    top: -moz-calc(50% + 3em);
	    top: -o-calc(50% + 3em);
	    top: -webkit-calc(50% + 3em);
	    top: calc(50% + 3em);
	    left: 0;
	    right: 0;
	    width: 100%;
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    transform: translateY(-50%);
	    pointer-events: none;
	    z-index 10;
	}
	.padded-horizontal
		padding-left 3em
		padding-right 3em

@media only screen and (max-width:641px)
	#wow-whyWeDoIt
		.padded-horizontal
			padding-left 25px
			padding-right 25px
		.grid1, .grid2, .grid3
			width 100%
			margin-bottom 22px
			margin-right 0
		.grid1, .grid2
			margin-right 50px
			overflow visible

